@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

::-webkit-scrollbar-track:hover {
  background-color: #f2f2f2;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

html {
  background: #202123;
}

@media (max-width: 720px) {
  pre {
    width: calc(100vw - 110px);
  }
}

pre:has(div.codeblock) {
  padding: 0;
}

/* code hike */

.ch-scrollycoding {
  flex-direction: row-reverse;
  margin: 0 !important;
  --ch-scrollycoding-code-min-height: calc(90vh - 140px - 12.8px);
}

.ch-scrollycoding-content {
  padding: calc(50vh - 100px) 0 140px !important;
  font-size: 1rem !important;
}

.ch-scrollycoding-step-content {
  border-radius: 18px !important;
  padding: 12px !important;
  display: flex !important;
  flex-direction: column !important;
  gap: 10px;
  min-height: 50vh !important;
  justify-content: end;
}
.ch-scrollycoding-step-content[data-selected] {
  border-color: transparent !important;
  /* background: rgba(189, 147, 249, 0.243); */
}
.ch-scrollycoding-step-content[data-selected] .answer {
  outline: rgb(191, 158, 238) 4px solid;
}
